* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nova Square', sans-serif;
}

.title {
    font-family: 'Nova Square', sans-serif;
    background-color: black;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

header {
    font-size: 15px;
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    color: lightgrey;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 60px;
    text-align: center;
    display: flex;
    border: 2px solid slategrey;
    align-items: center;
    justify-content: center;
    width: auto;
}

.footer {
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    height: 40px;
    display: inline-flex;
    border: 1px solid slategrey;
}

.console {
    text-align: center;
    font-size: 25px;
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    border-radius: 25px;
    margin-left: 400px;
    width: auto;
    padding: 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.resetScore, .theme {
    background-color: transparent;
    border: 2px solid darkslategrey;
    font-family: 'Nova Square', sans-serif;
    color: lightgrey;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
}

.resetScore:hover,.theme:hover {
    transform: scale(1.1);
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 20px grey;
}

.brand {
    margin-top: 10px;
    width: auto;
    padding-left: 20px;
    cursor: pointer;

}

.brand:hover {
    opacity: 0.7;
}

.github {
    height: auto;
    width: auto;
    padding: 10px;
    margin-left: 1250px;
}

.footer img.githubico {
    height: auto;
    width: auto;
    padding: 5px;
    cursor: pointer;
    margin-right: 35px;
    transition: opacity 0.3s ease-in-out;
}

.githubico:hover {
    opacity: 0.7;
}

.moves {
    margin-top: 20px;
    margin: 40px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.move-icon {
    height: 180px;
    width: 135px;
}

.move-button {
    background-color: transparent;
    border: 3px solid darkslategrey;
    width: 225px;
    height: 225px;
    border-radius: 25px;
    margin-right: 125px;
    margin-left: 125px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.move-button:hover {
    transform: scale(1.1);
    background-color: black;
    box-shadow: 0 0 20px grey;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.dashboard {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scores {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    border-radius: 25px;
    margin: 0 20px;
    height: auto;
    display: flex;
    margin-right: 350px;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

.movepicks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    margin-bottom: 2px;
    height: 100%;
}

.moveofcpu, .moveofplayer {
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 2px;
}

.resultStatus {
    margin-top: 10px;
}

.animation-container {
    position: fixed;
    width: 200px;
    height: 100px;
    margin: 650px;
    display: flex;
    margin-top: 400px;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.animation {
    text-align: center;
}

.animation h1 {
    font-size: 24px;
    /* Add additional styles as needed */
}



