* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Nova Square', sans-serif;
}

header {
    max-font-size: 2rem;
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    color: lightgrey;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    max-height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 2px solid slategrey;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer {
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    color: lightgrey;
    position: fixed;
    padding: 10px;
    max-font-size: 3rem;
    align-items: flex-start;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    border: 1px solid slategrey;
}

.resetScore, .theme {
    background-color: transparent;
    border: 2px solid darkslategrey;
    font-family: 'Nova Square', sans-serif;
    color: lightgrey;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
}

.resetScore:hover,.theme:hover {
    transform: scale(1.1);
    background-color: rgb(25, 25, 25);
    box-shadow: 0 0 20px grey;
}

.brand {
    width: auto;
    display:inline-block;
    height: auto;
    cursor: pointer;
}

.brand:hover {
    opacity: 0.7;
}

.githubico {
    min-height: 24px;
    min-width: 24px;
    max-height: 24px;
    max-width: 24px;
    margin-left: 10px;
}

.gititems {
    display: flex;
    flex-direction: row;
}

.github {
    width: auto;
    height: auto;
    display:inline-flex;
    margin-left: auto;
    cursor: pointer;
    margin: 3px;
}
/*
.githubico {
    height: auto;
    width: auto;
    padding: 5px;
    cursor: pointer;
    margin-right: 35px;
    transition: opacity 0.3s ease-in-out;
}*/

.githubico:hover {
    opacity: 0.7;
}

.moves {
    margin-top: 20px;
    max-width: 100%;
    max-height: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px 200px;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .moves {
        margin: 0 5px;
    }
}

.move-icon {
    max-height: 80%;
    max-width: 80%;
    min-height: 48px;
    min-width: 48px;
}

.move-button {
    background-color: transparent;
    border: 3px solid darkslategrey;
    max-width: 200px;
    align-items: center;
    max-height: 200px;
    min-height: 60px;
    min-width: 60px;
    padding: 1rem;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .move-button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.move-button:hover {
    transform: scale(1.1);
    background-color: black;
    box-shadow: 0 0 20px grey;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.dashboard {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .dashboard {
        align-items:flex-start;
    }
}

.console {
    text-align: center;
    font-size: 1.5rem;
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    border-radius: 25px;
    margin-left: 400px;
    width: auto;
    padding: 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .console {
        margin-left: auto;
        margin: 15px;
        font-size: 1.2rem;
        padding: 15px;
        grid-gap: 10px;
    }
}

.scores {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    background-color: black;
    font-family: 'Nova Square', sans-serif;
    border-radius: 25px;
    margin: 0 20px;
    height: auto;
    display: flex;
    margin-right: 350px;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .scores {
        font-size: 1.2rem;
        margin: 0 15px;
    }
}

.movepicks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    margin-bottom: 2px;
    height: 100%;
}

.moveofcpu, .moveofplayer {
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 2px;
}

.resultStatus {
    margin-top: 10px;
}

.animation-container {
    position: fixed;
    width: 200px;
    height: 100px;
    margin: 650px;
    display: flex;
    margin-top: 400px;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.animation {
    text-align: center;
}

.animation h1 {
    font-size: 24px;
    /* Add additional styles as needed */
}



